<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >

<test name="homepage">
 <classes>
<class name="com.atmecs.testscripts.HomePageAutomationScripts"></class>
</classes>
</test>

<test name="hotsaucepage">
 <classes>
<class name="com.atmecs.testscripts.HotSaucesMenuAutomationScripts"></class>
</classes>
</test>

<test name="merchandise">
 <classes>
<class name="com.atmecs.testscripts.MerchandiseMenuAutomationScripts"></class>
</classes>
</test>

<test name="clearance">
 <classes>
<class name="com.atmecs.testscripts.ClearanceMenuAutomationScripts"></class>
</classes>
</test>

<test name="newtohotsauce">
 <classes>
<class name="com.atmecs.testscripts.NewToHotSauceMenuAutomationScripts"></class>
</classes>
</test>

<test name="faq">
 <classes>
<class name="com.atmecs.testscripts.FAQMenuAutomationScripts"></class>
</classes>
</test>

</suite>